<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <nav class="nav-tabs">
            <a href="{{ url_for('index') }}" class="nav-tab">Chicago Tech Map</a>
            <a href="{{ url_for('internship') }}" class="nav-tab active">Internships</a>
            <a href="{{ url_for('jobs') }}" class="nav-tab">Early Career</a>
        </nav>
        <h1>Internships in Chicago</h1>
        <p>See all the internships in Chicago still accepting applications</p>
        <div class="iframe-container">
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450" src="https://www.pampam.city/p/Xsrw30pcXC94WX3jZ8NT?fullPanelMobile=true" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html> 